@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
.parallax{
    background-image: url("./bg1.jpg");
    min-height: 665px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 110;
    padding: 0px 30px;
   
}
.container1{
    
    max-width: 1100px;
    width: 100%;
    /*margin: 0 auto;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_nav ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.main_nav ul li{
    float:left;
    margin: 0 0 0 5px;
    position: relative;
    font-size: 20px;
    font-weight: 300;
    font-size: 16px;
   
}
.main_nav ul li a{
    color: #000;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
    line-height: 1.4;
    /*transition: all 3.0s ease-out;*/
}
.main_nav ul li:hover >a{
    color: grey;
}
.main_nav ul ul{
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
}
.main_nav ul ul li{
    float: none;
    margin: 0;
    border-bottom: 1px solid #000;

}
.main_nav ul ul li a{
    background: #fff;
}
.main_nav ul li:hover ul{
    opacity: 1;
    pointer-events: auto;
}
.nav_icon{
    display: none;
}
@media only screen and (min-width:768px) and (max-width:991px){
    .main_nav ul li{font-size: 16px; margin:0;}
    /*.main_nav ul li a{padding:5px 10px;}*/
}

/*@media screen and (max-width:860px){
    .parallax{
        background-color: url(./bg1.jpg);
        background-attachment: scroll;
    }
    .container{
        margin: 0;
    }
     h1{
         padding 0;
        font-size: 20px;
    }
}*/

@media screen and (min-width:768px){
.nav_icon, #navTrigger{
    display: none;
}
}
@media screen and (max-width:767px){
    .main_nav{ /*display: none;*/
    margin-right: 50px;
    position: fixed;
    right: 40px;
    top: 72px;
    padding: 0;
    background: #fff;
    z-index:100;
    height: calc(100% - 74px);
    overflow: auto;
    width: calc(100% - 100px);
    transform: translateX(-150%);
    height:auto;

 }
    .nav_icon{
        display:block;
        position: relative;
        font-size: 36px;
        color:#000;
        cursor: pointer;
        margin-right: 50px;
    }
    .main_nav ul li{
        float: none;
        margin: 0 !important;
        
    }
    .main_nav ul li a{
        padding: 10px;
    }
    .main_nav ul ul{
        position: static;
        pointer-events: auto;
        opacity: 1;
        /*height: 0;*/
        overflow: hidden;
    } 
    .main_nav ul ul li a{padding-left: 30px;}
    .main_nav ul ul li i{
        transform: rotate(0deg);
        right:10px;

    }
    .main_nav ul li i{
        transform: rotate(0deg);
        right:10px;

    }
    main_nav ul li:hover > ul{
        height: auto;

    }
    #navTrigger{
        opacity: 0;
        position: fixed;
        width:0;
        height: 0;
        margin: 0;
    }
    #navTrigger:checked + .main_nav{
        transform: translateX(0%);
    }
}
/*header{
    /*display: flex;
    /*justify-content: space-between;
    
    align-items: center;
    background-color: #fff;
}
.menu-area a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}
.menu-area ul{
    display: flex;
}
.menu-area ul li{
    position: relative;
    width: 100%;
    text-align: center;
}
.menu-area li:hover .drop li{
    top: 0;
    display: block;
}
.drop ul li{
    display: none;
    position: relative;
}
.drop{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}*/

/*.logo{
    margin-left: 40px;
    cursor: pointer;

}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
    
}
.nav__links{
    margin-right: 40px;
}
.drop{
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
}
.dropdown{
    /*margin-top: 10px;
    opacity: 1;
    visibility: visible;
}*/

.container{
    text-align: center;
    margin-top:30px ;
    
    margin-left: 200px;
    margin-right: 200px;
}
h1{
    font-size: 70px;
    line-height: 60px;
    padding-top: 150px;
}
.container h3{
    margin-right: 80px;
    margin-left: 80px;
    font-weight: normal;
}
.btn{
    margin-top: 40px;
   
}
button{
    height: 40px;
    width:150px;
    font-weight: 1000;
    margin-right: 20px;
}

.btn1{
    background-color: rgb(255, 166, 0);
    border: unset;
    
}

.btn2{
    background-color: #000;
    color: #fff;
    border: unset;
    
}
button:hover{
    
    cursor: pointer;
}

.nav__links li a:hover {
    color:grey;
    font-size: 15px;
}
.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    margin: 20px;
    text-align: center;
    padding: 20px;
}
.img-area{
    margin-bottom: 10px;
}
.header-text{
    margin-bottom: 20px;
}
.img-txt p{
    font-size: 12px;
    margin-top: 10px;
}

@media only screen and (max-device-width: 860px) {
    .parallax {
      background-attachment: scroll;
    }
    .container h1{
        font-size: unset;
        margin-left: unset;
        margin-right: unset;
        line-height: unset;
    }
    .container h3{
        font-size:unset;
        margin-left: unset;
        margin-right: unset;
    }
  }
